# Ambiente
ASPNETCORE_ENVIRONMENT=Development

# ======================
# API / ASP.NET Core
# ======================
CONNECTION_STRING=Host=postgres;Port=5432;Database=your_db;Username=your_user;Password=your_password

JWT_SECRET=your_jwt_secret_here
JWT_ISSUER=your_jwt_issuer
JWT_AUD=your_jwt_audience
JWT_SESSION_DURATION=86400

# ======================
# PostgreSQL
# ======================
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_db

# ======================
# Redis
# ======================
REDIS_PASS=your_redis_password
